@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');



// Set your brand colors
$purple: #4b4b4b;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #e8e8e8;
$beige-lighter: #e8e8e8;
// $white: #f2f2f2;
// f2f2f2
// e8e8e8

// Update Bulma's global variables
$family-sans-serif: "Raleway", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $brown;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import '~bulma/bulma';

body {
  background-image: url("/images/carrie-4.jpg");
}

.navbar.is-dark {
  background-color: #cce2ef6e;
}
